<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://s3.amazonaws.com/angularminds.com/blog/media/Importance%20of%20Code%20Coverage-20241003091256166.jpg"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        vehicula blandit dapibus. Quisque dolor mi, rutrum accumsan neque id,
        porta lobortis tellus. Integer facilisis elit tellus, sed aliquet orci
        tempus sit amet. Pellentesque in facilisis ex, ac sollicitudin est.
        Fusce cursus lacus dolor, id auctor orci aliquam vel.</a
      >
    </p>
  </div>
</div>
