<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fit:1400/format:webp/0*lkpgKWc22o4uaJJ4"
      cardTitle="SAIU A NOVA VERSÃO DO ANGULAR."
      cardDescription="O Angular 18 introduz algumas atualizações importantes, focando na melhoria de desempenho, simplificação da experiência de desenvolvimento e atualizações de bibliotecas subjacentes."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://i.redd.it/angular-is-bringing-new-built-in-control-flow-syntax-v0-u38npic6906b1.png?width=2710&format=png&auto=webp&s=02ac8516f76683e2b2be7b886705238a8f53d81f"
      cardTitle="O que há de novo no Angular v18"
      cardDescription="Angular está trazendo uma nova sintaxe de controle de fluxo integrada inspirada no Svelte."
    ></app-small-card>

    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1400/0*HeQWkFXdthTua3B5.jpg"
      cardTitle="A importância dos standalone components na nova versão do Angular"
      cardDescription="Angular está reforçando o uso de componentes independentes, sem a necessidade de módulos. A partir da versão 18, o suporte a esses componentes foi ampliado, facilitando o desenvolvimento com uma arquitetura mais leve e modular"
    ></app-small-card>

    <app-small-card
      photoCover="https://i.ytimg.com/vi/4IumfjX5K04/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB9CdPRh7DcDrJnyUiAoYmQK51C8Q"
      cardTitle="Angular e Server Side Rendering(SSR)"
      cardDescription="Houve uma grande ênfase em melhorar o SSR no Angular 18, otimizando como as aplicações renderizam no lado do servidor para melhorar o desempenho em SEO e a experiência geral do usuário."
    ></app-small-card>
  </div>
</div>
